<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Вход</title>
	<link rel="stylesheet" href="static/css/auth.css">
</head>
<body>

	<div class="form">
		<h1>Вход</h1>
		<div class="input-form">
			<input type="text" name="login1" placeholder="Логин" form="auth_auth"/>
		</div>
		<div class="input-form">
			<input type="text"  name="password1" placeholder="Пароль" form="auth_auth"/>
		</div>
        <a href="home">
            <div class="input-form" >
			<form id = "auth_auth" action="/auth" method="POST">
   				<button name="Goto" value="Goto" >Войти</button>
			</form>
				<h6>

				</h6>
			<form id = "auth_reg" action="/reg" method="GET">
   				<button name="Goto" value="Goto" >Регистрация</button>
			</form>
		    </div>
        </a>
	</div>

</body>
</html>